<!-- header
   ================================================== -->

<header class="s-header">

    <div class="header-logo">
        <a class="site-logo" href="/"><img src="/images/logo2.png" alt="Homepage"></a>
    </div>

    @await Component.InvokeAsync("TopNavigation")

    <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

</header> <!-- end s-header -->

